
* {margin:0;padding:0}

/* Background Colours */
header {
	background-color:#63ADF2;
}
main {
	background-color:#63ADF2;
}
body, header{
	background-color:#545E75;
}

footer, nav {
	background-color: #A7CCED;
}

nav li a:hover{
	background-color:#09BC8A;
}


/* Text Properties */
nav {
	display:block;
	clear:both;
	margin-top:5px;
	height:45px;
}
.intro {
	display:inline
}


h1 {
	display:inline;
	float:left
	padding-bottom: 10px;
}

nav ul {
	list-style-type:none;
	overflow:hidden;
	margin:0;
	padding:0;
}
nav li {
float:left;
border-right:1px solid black;
}

nav li a {
	display:block;
	text-align:center;
	text-decoration:none;
	padding: 14px 59px;
}


/* Margins */
.thaiText{
	margin-left:10px;
	float:right;
}

body {
	margin:auto;
	width: 1750px;
}
h1 {
margin-left:30px; margin-top:50px;	
}


/* Padding */

.thaiIngredient {
	padding:2px;
}
.thaiCurries {
	padding:5px;
}

main {
	padding:10px;
}
footer ul {
	padding-left:1; padding-top:1px;
}
.intro {
	margin-left:5px;
}
.homeImage {
	padding-right:10px; padding-bottom:20px; display:inline;
}

/* Positioning (Float, Display and Clear) */


footer a, footer p {
	padding-top:10px; padding-left:10px; display:block;
}


.homeImage {
	float:left;
}
nav, main, footer {
	clear:both;
}



.thaiCurries {
	float:right;
}
.homeForm {
	display:block; padding: 130px;
}

/* Element Sizes */
.thaiIngredient {
	width:160px;
	height:120px;
}
.thaiCurries {
	width:200px;
	height:150px;
}
.PastaImages {width:140px; height:140px; margin-left:30px; margin-top:10px; padding-bottom:10px;}
.CurryImages {width:140px; height:140px; margin-left:30px; margin-top:10px; padding-bottom:10px;}
.BurritoImages {width:140px; height:140px; margin-left:30px; margin-top:10px; padding-bottom:10px;}
.imageBanner {width:550px; height:100px;}
.pizzaImages {width:300px; height:300px;}#

	
footer { height:110px}
header {height:90px}



/* Navigation List Properties */



